<!-- Footer -->
<footer class="bg-dark text-light py-4 position-absolute start-0 bottom-0 end-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: contact@phoneapp.com</p>
                <p>Phone: +1 (123) 456-7890</p>
            </div>
            <div class="col-md-4">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/about-us.html" class="text-light">About Us</a></li>
                    <li><a href="/privacy-policy.html" class="text-light">Privacy Policy</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="text-light mr-2"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-light mr-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
